body{
  margin:0;
  padding: 0;
  background-color: #7AA4FA;

}
.name{
  font-style: oblique;
  text-align: center;
  display: block;
}
h2{
  margin-left: 50px;
  font-family: sans-serif;
  display: block;
  text-align: center;
}
ul{
  list-style-type: none;
  line-height: 40px;
  font-family: serif;
}
table{
  margin: 0 auto;

}
td{
  font-family: cursive;
}
hr{
  border-top: 5px dotted;
  border-bottom: 0;
  width: 20%
}
.ed{
  text-align: center;
}
